body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('photo34.jpg');
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  } 
  .text{
          padding: 20px;
          justify-content: center;
          text-align: center;
          background-blend-mode: overlay;
          background-color: hsla(49, 43%, 83%, 0.466);
          border-radius: 60%;
        }  
        
        
  h1{
          font-family: 'arizonia';
          font-size: 30px;
          color:rgb(105, 43, 27);
          }    
  p{
   font-family: 'arizonia';
  font-size: 20px;
  color: rgb(10, 44, 71);
  }
  #begin{
      color:rgb(100, 77, 30);
            font-family: 'Courier New', monospace;
            font-size: 20px;
        }
     ul{
         color: rgb(252, 252, 252);
         font-family:'arizonia';
         font-size: 17px;
         
     }   
  #home{
      font-family: 'Courier New', monospace;
  color: aliceblue;
  }
  a:hover {
background-color: rgba(5, 5, 5, 0.616);
}
