body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('photo40.jpg');
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  img{
      width: 20%;
      border-radius: 150%;

  }
  .text{
  padding: 10px;
    justify-content: center;
    text-align: center;
    background-blend-mode: overlay;
    background-color: hsla(0, 0%, 0%, 0.486);
    border-radius: 0%;
   
  }  
  h1{
    font-family: 'Arizonia';
    font-size: 30px;
    color:rgb(241, 220, 126);
  
  }
  p{
    font-family: 'Arizonia';
    color:rgb(219, 201, 150);
    font-size: 18px;
  }

  #homepage{
    font-family: 'Courier New', monospace;
   
      color: aliceblue;
      font-size: 15px
  }
  #page{
    font-family: 'Courier New', monospace;
   
      color: aliceblue;
      font-size: 15px
  }
  a:hover {
background-color: rgba(5, 5, 5, 0.616);
}