body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('l1105396.jpg');
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
          }
    .text{
         padding: 10px;
         justify-content: center;
         text-align: center;
         background-blend-mode: overlay;
         background-color: hsla(60, 9%, 7%, 0.281);
         border-radius: 35%;
       }  
    
       h1{
         font-family: 'arizonia';
         font-size: 30px;
         color:rgb(100, 34, 17);
       
       }
       p{
         font-family: 'arizonia';
         color:rgb(215, 219, 150);
         font-size: 15px;
       }
       #Homepage{
         font-family: 'Courier New', monospace;
        
           color: aliceblue;
       }
       #page{
         font-family: 'Courier New', monospace;
        
           color: aliceblue;
       }
    
       
    
         img {
    width: 35%;
    border-radius: 10%;
    
    }
    a:hover {
      background-color: rgba(5, 5, 5, 0.616);
    }